extends layout

block header
  nav(class= 'header')
    img(src='/images/logo.png')
    h1= title

block content
  article(class= 'content')
    h2 Welcome to poor #{title} !
    p Click on the button below to lauch a party, dont forgot to send the link of your party to your friend !
    a(id = "game" class= 'game') Party !
    a(id = "join" class= 'game') Join !

  script(type = 'module' src='/javascripts/index.js')