doctype html
html
  head
    title= 'Code-name'
    link(rel='stylesheet', href= '/stylesheets/SPY.css')
  body
    nav(class= 'header')
      h1 Your role : 
      h1(id = 'role')   
    article(class= 'header')
      article(class= 'score')
        h1 Purple Team : 
        h1(id ='purpleScore')
      article(class= 'score')
        h1 Yelow Team :
        h1(id ='yelowScore')
    article(class= 'header')
      h1(id = 'play')
    article(class= 'header')
      h1(id = 'clue')
    article(class= 'header')
      a(id = 'next') End of your turn !
    article(class = 'game_panel')
      button(ID = '0' class = 'box')
      button(ID = '1' class = 'box')
      button(ID = '2' class = 'box')
      button(ID = '3' class = 'box')
      button(ID = '4' class = 'box')
      button(ID = '5' class = 'box')
      button(ID = '6' class = 'box')
      button(ID = '7' class = 'box')
      button(ID = '8' class = 'box')
      button(ID = '9' class = 'box')
      button(ID = '10' class = 'box')
      button(ID = '11' class = 'box')
      button(ID = '12' class = 'box')
      button(ID = '13' class = 'box')
      button(ID = '14' class = 'box')
      button(ID = '15' class = 'box')
      button(ID = '16' class = 'box')
      button(ID = '17' class = 'box')
      button(ID = '18' class = 'box')
      button(ID = '19' class = 'box')
      button(ID = '20' class = 'box')
      button(ID = '21' class = 'box')
      button(ID = '22' class = 'box')
      button(ID = '23' class = 'box')
      button(ID = '24' class = 'box')
    
    script(type = 'module' src= '/javascripts/SPY.js')